body, html {
    width: 99%;
    height: 99%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    border: 1px solid rgb(166, 165, 165);
    display: flex;
    width: 20vw;
    height: 40vw;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 0 auto;
}

.number, .delete, .clear, .multiply, .divide, .subtract, .add, .point {
    height: 5vw;
    width: 5vw;
}

.equals {
    width: 5vw;
    height: 11.6vw;
    margin-top: -6.5vw;
}

.zero {
    width: 10vw;
    height: 5vw;
}

.display {
    margin: 5px;
    width: 20vw;
    height: 5vw;
    border: 1px solid black;
}
